!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UltimateDemo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Wrapper
    #wrapper
      / Navigation
      / Page wraper
      #page-wrapper.gray-bg
        / Page wrapper
        / Main view
        - if notice
          .alert.alert-warning.alert-dismissible.fade.in{:role => "alert"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %b= notice
        - if alert
          .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %b= alert
    = yield
